$background-color: radial-gradient(#202f64, #111334);
$text-color: #fff;
$nav-font: 48px;
$headline-font: 24px;
$paragraph-font: 16px;
$nav-button-font: 18px;
$project-shadow: 1px 1px 10px black;
$margin-reset: 0 auto;
$main-project-height: 720px;
$main-project-width: 1280px;