@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  font-family: "Revalia";
  text-align: center;
  margin-top: 30px;
}

.nav__logo {
  text-decoration: none;
  color: #fff;
  font-size: 48px;
}

.nav__btns {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75vw;
  padding: 30px 0 0 0;
}

.nav__btn {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav__projects {
  height: 20vh;
}

.nav .line {
  background-color: white;
  height: 1.5px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .nav__logo {
    font-size: 57.6px;
  }
  .nav__btn {
    font-size: 21.6px;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (7vh)[10];
      grid-template-rows: repeat(10, 7vh);
  font-family: "Montserrat", sans-serif;
}

.about__headline {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3/11;
  font-size: 12px;
  font-weight: 400;
  font-size: 16px;
}

@media only screen and (min-width: 414px) {
  .about__headline {
    font-size: 28.8px;
  }
  .about__text {
    font-size: 17.6px;
  }
}

@media only screen and (min-width: 768px) {
  .about__headline {
    font-size: 36px;
  }
  .about__text {
    font-size: 24px;
  }
}

.projects {
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[7];
      grid-template-rows: repeat(7, 10vh);
}

.projects__left {
  display: none;
}

.projects__right {
  display: none;
}

.projects__main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
}

.projects .project1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 200px 200px;
      grid-template-rows: 200px 200px;
}

.projects .project1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.projects .project1__img {
  height: 120px;
  width: 213.33333px;
  background: grey;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border-radius: 20px;
}

.projects .project1__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 30px;
}

.projects .project1__arrow--left {
  -ms-grid-column-align: left;
      justify-self: left;
}

.projects .project1__arrow--right {
  -ms-grid-column-align: right;
      justify-self: right;
}

.projects .project1__description {
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 16px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .project1__description {
    font-size: 60px;
  }
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[6];
      grid-template-rows: repeat(6, 10vh);
  font-family: "Montserrat", sans-serif;
}

.blog__header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.blog__headline {
  font-size: 24px;
}

.blog__date {
  font-size: 16px;
}

.blog__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3/11;
  font-size: 12px;
  font-weight: 400;
  font-size: 16px;
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumb__section {
  border: 1px solid white;
  border-radius: 10px;
  height: 100px;
  width: 250px;
  margin: 20px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumb__title {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.thumb__date {
  text-decoration: none;
  color: #fff;
  height: 100%;
  margin-top: 40px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .blog__headline {
    font-size: 36px;
  }
  .blog__text {
    font-size: 24px;
  }
  .blog__date {
    font-size: 24px;
  }
  .thumb__section {
    height: 150px;
    width: 300px;
  }
  .thumb__title {
    font-size: 30px;
  }
  .thumb__date {
    font-size: 20px;
  }
}

@font-face {
  font-family: "Revalia";
  src: url(/fonts/Revalia-Regular.ttf);
}

.container {
  background: radial-gradient(#202f64, #111334);
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.portfolio {
  width: 80%;
}

.portfolio--homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */